<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACpkcAP4IxQH0flWR04tGVe8ahPcQ3DYU</string>
	<key>GCM_SENDER_ID</key>
	<string>694777009257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mo.messaging-app</string>
	<key>PROJECT_ID</key>
	<string>messaging-app-67fcf</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-app-67fcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694777009257:ios:463b4b4c197dcac0bb3ef8</string>
</dict>
</plist>